<% @page_title = "このサイトについて" %>

<h1><%= @page_title %></h1>
<p>
  花栗シルバーは、19xx年に結成された草ソフトボールチームです。</br>
  結成当初は年配の方が多かったためSilver(年寄り)というチーム名になりました。</br>
  おもな活動拠点は、埼玉県草加市の<a href="http://www.soka-stm.ed.jp/matsubara-syo/" target="_blank">松原小学校</a>のグラウンドです。
</p>
